@use "__config" as *;

.rectangles {
   display: flex;
   position: absolute;
   top: 0;
   z-index: 5;
   pointer-events: none;
   
   &--right {
       right: 0;
   }

   &--left {
       left: min(rem(100), 10%);
   }

   &--bottom {
      top: auto;
      bottom: 0;
   }

   &--center {
      top: 50%;
   }
}


.rectangle {
   position: relative;
   border-radius: rem(12);
   width: rem(60);
   aspect-ratio: 1;
   opacity: 0.65;
   
   @include media (">phone") { 
     width: rem(130);
   }

   &--gr {
      background-color: var(--clr-bg-gr);
   }
   &--bl {
      background-color: var(--clr-bg-bl);
   }
   &--br {
      background-color: var(--clr-bg-br);
   }
   &--gn {
      background-color: var(--clr-bg-gn-400);
   }
}

.rectangles[data-type="first"] {
   & .rectangle:nth-child(1) {
      top: calc(-1 * rem(20));
      @include media (">phone") { 
         top: calc(-1 * rem(20));
      }
   }

   & .rectangle:nth-child(2) {
      top: rem(10);
      left: calc(-1 * rem(25));
      @include media (">phone") { 
         top: rem(20);
         // left: calc(-1 * rem(25));
      }
   }

   & .rectangle:nth-child(3) {
      top: calc(-1 * rem(30));
      left: calc(-1 * rem(50));
      @include media (">phone") { 
         top: calc(-1 * rem(60));
         left: calc(-1 * rem(110));
      }
   }

}

.rectangles[data-type="second"] {
   & .rectangle:nth-child(1) {
      top: rem(10);
      @include media (">1980px") { 
         top: calc(-1 * rem(130));
         // left: rem(75);
         right: calc(-1 * rem(190));
      }
   }

   & .rectangle:nth-child(2) {
       top: calc(-1 * rem(10));
         left: calc(-1 * rem(20));
      @include media (">phone") { 
        top: calc(-1 * rem(40));
         left: calc(-1 * rem(45));
      }
      @include media (">1980px") { 
         top: calc(-1 * rem(70));
         // left: calc(-1 * rem(120));
         z-index: -1;
      }
   }

   & .rectangle:nth-child(3) {
      left: calc(-1 * rem(40));
      @include media (">phone") { 
         top: rem(25);
         left: calc(-1 * rem(90));
      }
      @include media (">1980px") { 
         top: rem(25);
         // left  : calc(-1 * rem(220));
         right: rem(95);
      }
   }
}

.rectangles[data-type="third"] {
   & .rectangle:nth-child(1) {
      top:  rem(20);
      right:  calc(-1 * rem(85));
      @include media (">phone") { 
         top:  rem(20);
         right:  calc(-1 * rem(175));
      }
   }

   & .rectangle:nth-child(2) {
      // top:  rem(20);
      right:  calc(-1 * rem(90));
      @include media (">phone") { 
         right:  calc(-1 * rem(190));
      }
      @include media (">1980px") { 
         // top: calc(-1 * rem(70));
         // // left: calc(-1 * rem(120));
         // z-index: -1;
      }
   }

   & .rectangle:nth-child(3) {
      // left: calc(-1 * rem(40));
      // right:  calc(-1 * rem(20));
      top: rem(35);
      @include media (">phone") { 
         top: rem(60);
      }
      @include media (">1980px") { 
         // top: rem(25);
         // // left  : calc(-1 * rem(220));
         // right: rem(95);
      }
   }
}




 