@use "__config" as *;

.socials-icons {
   --icon-size: 1em;
   fill: var(--clr-white);
  

   &:hover {
      fill: var(--clr-primary);
   }

   &__svg {
      width: var(--icon-size);
      height: var(--icon-size);
   }
}