@use "__config" as *;

.cover {

   background-image: url("../img/luxury-modern-dark-living-room-interior 1.jpg");
   background-repeat: no-repeat;
   background-size: cover;

   min-height: 100vh;
   
   

   @include media ("<=phone") { 
      grid-auto-flow: row;
   }
   

		&__aside {
         
         
         padding: rem(20) 0;
         padding-top: calc(var(--sz-navigation) + rem(20));

      
         @include media (">laptop") {
            position: absolute;
            top: 50%; 
         bottom: auto;
         left: 0;
         //   align-self: center;
            // max-width: rem(250);
            padding-left: min(30%, rem(130));
         transform: translateY(-50%);
         padding-top: 0;
         }
		}

      &__conatiner {
         display: flex;
         justify-content: center;
         min-height: 100vh;
         padding-bottom: rem(40);
         align-items: flex-start;
         @include media (">laptop") { 
         padding-top: calc(var(--sz-navigation) + rem(20));

            align-items: center;
            justify-content: flex-end;
         }

      }

      &__socials-list {
         display: flex;
            justify-content: space-evenly;


        @include media (">laptop") { 
            display: grid;
            gap: rem(40);
        }
      }

		&__slogan {
         position: relative;
         color: var(--clr-white);
         background-color: var(--clr-bg-gray-600);
         padding: rem(60) rem(50);
         border-radius: var(--border-radius);
         max-width: rem(570);
		}
      
      &__slogan::before {
         @include media (">laptop") { 
           display: block;
            position: absolute;
            top: calc(-1 * rem(35));
            left: calc(-1 * rem(84));
            content: '';
            width: rem(125);
            height: rem(100);
            background-image: url('/files/svg_icons/wave.svg');
            background-repeat: repeat space;
            background-size: rem(42) rem(21);
         }
      }

		&__slogan-header {
         font-weight: var(--fw-extra-bold);
         font-size: var(--fs-700);
         font-family: var(--ff-heading);
         
		}

		&__slogan-text {
         padding-top: rem(20);
         padding-bottom: rem(60);
         font-size: var(--fs-450);
         color: var(--clr-white);
		}
}