@use "__config" as *;

.interiors {
   position: relative;
   @include media ("<=laptop") { 
     padding-bottom: 0!important;
   }
   &__container {
      position: relative;
   }

   &__img {
      border-radius: rem(20);
      @include media (">laptop") { 
         width: 60%;
      }
   }

   &__info {
      position: relative;
      top: -10vh;
      background-color: var(--clr-bg-gray-300);
      border-radius: var(--border-radius);
      padding: rem(50);
      width: 90%;
      margin-inline: auto;

      @include media (">laptop") { 
         position: absolute;
         top: 15%;
         // left: -20vw;
         right: 5%;
         width: 100%;
         max-width: rem(670);

         // transform: translateY(-50%);
      }
   }


   &__info-text {
      padding-top: rem(20);
      color: var(--clr-text-gn-400);
   }
}