@use "__config" as *;

.solutions {
   position: relative;

		
		

      &__conatiner {
         @include media (">laptop") { 
           display: flex;
           gap: rem(30);
         }
      }

		&__info {
         flex-basis: 50%;
		}

      &__info-text {
         padding-top: rem(20);
         padding-bottom: em(50,20);
         color: var(--clr-text-gn-400);
      }

		&__digits-wrapper {
         display: flex;
         flex-direction: column;
          
         @include media (">phone") { 
            justify-content: space-between;
            flex-direction: row;
         }
		}

      &__digits-info {
         display: grid;
         position: relative;
         gap: rem(20);
         flex-grow: 1;
         justify-content: center;
         padding: 0 rem(20);
         @include media ("<=phone") { 
           padding: rem(20);
         }
      }
      
      &__digits-info:not(:last-of-type)::after {
         display: block;;
         position: absolute;
         bottom: 0;
         left: 50%;
         content: '';
         width: 60%;
         height: rem(1);
         background-color: rgba(167, 177, 169, 1);
         transform: translateX(-50%);


         @include media (">phone") {
            top: 50%;
            right: 0;
            left: auto;
            width: rem(1);
            height: 80%;
            transform: translateY(-50%);
         }
      }

		&__digits {
         font-size: var(--fs-55);
         font-weight: var(--fw-600);
         color: var(--clr-primary);
         text-align: center;
		}

		&__digits-text {
         color: rgba(109, 119, 108, 1);
         @include media ("<=phone") { 
         text-align: center;
         }
		}

		&__imgs {
         padding-top: rem(30);
         
         @include media (">phone") { 
            display: flex;
            gap: rem(30);
         }
         
         
		}

      &__img {
         min-width: rem(200);
         border-radius: rem(20);
      }

      &__img:first-of-type {
         height: 80%;
         align-self: flex-end;
      }
}